# Copy this file to `.dev.vars`

# Load .env.development* files when running `wrangler dev`
NEXTJS_ENV=development
NEXT_PUBLIC_GOOGLE_CLIENT_ID=907562393809-e275d60o81dkhs9adom0hdb9l4tsiopc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=replace-with-google-oauth-client-secret
